# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
pip install ipywidgets

Requirement already satisfied: ipywidgets in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (7.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets) (5.1.4)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets) (7.12.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets) (5.0.4)
Requirement already satisfied: tornado>=4.2 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets) (6.0.3)
Requirement already satisfied: jupyter-client in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets) (5.3.4)
Requirement already satisfied: appnope; platform_system == "Darwin" in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.0)
Requirement already satisfied: pickleshare in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.7.5)
Requirement already satisfied: decorator in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.4.1)
Requirement already satisfied: jedi>=0.10 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.14.1)
Requirement already satisfied: backcall in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (46.0.0.post20200309)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (3.0.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.8.0)
Requirement already satisfied: pygments in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (2.5.2)
Requirement already satisfied: ipython-genutils in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets) (0.2.0)
Requirement already satisfied: six in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets) (1.14.0)
Requirement already satisfied: notebook>=4.4.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets) (6.0.3)
Requirement already satisfied: jupyter-core in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets) (3.2.0)
Requirement already satisfied: pyzmq>=13 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (18.1.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.1)
Requirement already satisfied: parso>=0.5.0 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.5.2)
Requirement already satisfied: wcwidth in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.6.0)
Requirement already satisfied: jinja2 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.11.1)
Requirement already satisfied: nbconvert in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (5.6.1)
Requirement already satisfied: prometheus-client in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.7.1)
Requirement already satisfied: Send2Trash in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.3)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (19.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (1.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.1.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.2)
Requirement already satisfied: bleach in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: testpath in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.4.4)
Requirement already satisfied: defusedxml in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.6.0)
Requirement already satisfied: zipp>=0.5 in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (2.2.0)
Requirement already satisfied: webencodings in /Users/heidi/opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import ipywidgets as widgets

# Import API key
from api_keys import g_key

In [2]:
### Store Part I results into DataFrame
#Load the csv exported in Part I to a DataFrame
weatherfile="output_data/cities.csv"
weatherfile_df= pd.read_csv(weatherfile, encoding="ISO-8859-1")
weatherfile_df.head(10)

,city_id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,gorontalo,0.54,123.06,75.36,89,69,2.80,ID,1595256634
1,1,urumqi,43.80,87.60,82.40,34,100,4.47,CN,1595256634
2,2,saint george,37.10,-113.58,84.99,20,1,5.82,US,1595256634
3,3,bethel,41.37,-73.41,84.00,69,1,8.05,US,1595256634
4,4,east london,-33.02,27.91,73.40,25,0,5.82,ZA,1595256635
5,5,busselton,-33.65,115.33,50.00,60,100,10.18,AU,1595256635
6,6,ust-maya,60.42,134.53,68.68,61,100,14.38,RU,1595256635
7,7,henties bay,-22.12,14.28,77.50,23,0,9.24,NaN,1595256635
8,8,rikitea,-23.12,-134.97,68.47,57,85,13.09,PF,1595256635
9,9,codrington,-38.27,141.97,50.14,77,70,6.91,AU,1595256636

In [3]:
### Humidity Heatmap
gmaps.configure(api_key=g_key)
locations = weatherfile_df[["Lat", "Lng"]]
humidity = weatherfile_df["Humidity"]

* Use the Lat and Lng as locations and Humidity as the weight.

* Add Heatmap layer to map.

In [4]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

In [5]:
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, 
                                 max_intensity= 100, point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
narrowed_city_df = weatherfile_df.loc[(weatherfile_df["Wind Speed"] <= 10) & (weatherfile_df["Cloudiness"] == 0) & \
                                   (weatherfile_df["Max Temp"] >= 70) & (weatherfile_df["Max Temp"] <= 80)].dropna()

narrowed_city_df

,city_id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,east london,-33.02,27.91,73.40,25,0,5.82,ZA,1595256635
52,52,guerrero negro,27.98,-114.06,72.84,67,0,3.02,MX,1595256364
74,74,ponta do sol,32.67,-17.10,73.99,60,0,1.05,PT,1595256648
103,103,klyuchi,52.27,79.17,76.57,54,0,6.11,RU,1595256654
129,129,saldanha,-33.01,17.94,73.40,49,0,4.70,ZA,1595256484
143,143,huambo,-12.78,15.74,78.04,18,0,2.59,AO,1595256663
171,171,tsabong,-26.02,22.40,72.18,19,0,7.18,BW,1595256671
191,191,ritchie,-29.04,24.60,75.20,8,0,5.82,ZA,1595256676
192,192,arkhangelsk,64.54,40.54,78.80,36,0,6.71,RU,1595256544
220,220,cidreira,-30.18,-50.21,72.91,67,0,3.18,BR,1595256684
235,235,olkhovka,53.21,60.61,73.26,74,0,6.93,RU,1595256688
382,382,menongue,-14.66,17.69,77.29,21,0,6.73,AO,1595256720
425,425,rochegda,62.80,43.25,74.50,47,0,5.21,RU,1595256728
460,460,waingapu,-9.66,120.26,73.49,81,0,8.21,ID,1595256735
487,487,miandrivazo,-19.52,45.47,75.25,24,0,4.09,MG,1595256740
491,491,mezen,65.85,44.24,76.82,36,0,4.61,RU,1595256741

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

               City Country    Lat     Lng Hotel Name
4       east london      ZA -33.02   27.91
52   guerrero negro      MX  27.98 -114.06
74     ponta do sol      PT  32.67  -17.10
103         klyuchi      RU  52.27   79.17
129        saldanha      ZA -33.01   17.94
143          huambo      AO -12.78   15.74
171         tsabong      BW -26.02   22.40
191         ritchie      ZA -29.04   24.60
192     arkhangelsk      RU  64.54   40.54
220        cidreira      BR -30.18  -50.21
235        olkhovka      RU  53.21   60.61
382        menongue      AO -14.66   17.69
425        rochegda      RU  62.80   43.25
460        waingapu      ID  -9.66  120.26
487     miandrivazo      MG -19.52   45.47
491           mezen      RU  65.85   44.24

In [11]:

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [12]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 4: east london.
Closest hotel in east london is Premier Hotel Regent.
------------
Retrieving Results for Index 52: guerrero negro.
Closest hotel in guerrero negro is Hotel Los Caracoles.
------------
Retrieving Results for Index 74: ponta do sol.
Closest hotel in ponta do sol is Estalagem Da Ponta Do Sol.
------------
Retrieving Results for Index 103: klyuchi.
Closest hotel in klyuchi is Vesolaya Mayovka.
------------
Retrieving Results for Index 129: saldanha.
Closest hotel in saldanha is Blue Bay Lodge.
------------
Retrieving Results for Index 143: huambo.
Closest hotel in huambo is Hotel Ekuikui I.
------------
Retrieving Results for Index 171: tsabong.
Closest hotel in tsabong is Dikukama Hotel.
------------
Retrieving Results for Index 191: ritchie.
Closest hotel in ritchie is The Cygnature Boutique Hotel.
------------
Retrieving Results for Index 192: arkhangelsk.
Closest hotel in arkhangelsk is Novotel Архангельск.
------------
Retrieving Results for Index 220: cidreira.
Closest hotel in cidreira is Hotel Castelo.
------------
Retrieving Results for Index 235: olkhovka.
Missing field/result... skipping.
------------
Retrieving Results for Index 382: menongue.
Closest hotel in menongue is Ritz Lauca.
------------
Retrieving Results for Index 425: rochegda.
Missing field/result... skipping.
------------
Retrieving Results for Index 460: waingapu.
Closest hotel in waingapu is Padadita Beach Hotel.
------------
Retrieving Results for Index 487: miandrivazo.
Closest hotel in miandrivazo is Soafivehy Hotel.
------------
Retrieving Results for Index 491: mezen.
Missing field/result... skipping.
------------
-------End of Search-------

In [13]:
hotel_df

               City Country    Lat     Lng                    Hotel Name
4       east london      ZA -33.02   27.91          Premier Hotel Regent
52   guerrero negro      MX  27.98 -114.06           Hotel Los Caracoles
74     ponta do sol      PT  32.67  -17.10     Estalagem Da Ponta Do Sol
103         klyuchi      RU  52.27   79.17              Vesolaya Mayovka
129        saldanha      ZA -33.01   17.94                Blue Bay Lodge
143          huambo      AO -12.78   15.74               Hotel Ekuikui I
171         tsabong      BW -26.02   22.40                Dikukama Hotel
191         ritchie      ZA -29.04   24.60  The Cygnature Boutique Hotel
192     arkhangelsk      RU  64.54   40.54           Novotel Архангельск
220        cidreira      BR -30.18  -50.21                 Hotel Castelo
235        olkhovka      RU  53.21   60.61
382        menongue      AO -14.66   17.69                    Ritz Lauca
425        rochegda      RU  62.80   43.25
460        waingapu      ID  -9.66  120.26          Padadita Beach Hotel
487     miandrivazo      MG -19.52   45.47               Soafivehy Hotel
491           mezen      RU  65.85   44.24

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))